server.name: kibana
server.host: "0"
elasticsearch.hosts: http://{{ elasticsearch_name}}:9200
xpack.monitoring.ui.container.elasticsearch.enabled: true

server.basePath: /kibana
server.rewriteBasePath: true
